---
const currentLang = Astro.url.pathname.split('/')[1] == 'en' ? 'en' : 'pl';
let str;
if (currentLang === 'en') {
    str = await import('../content/en/strings.md');
} else {
    str = await import('../content/pl/strings.md');
}
---

<div id="idea" class="container mx-auto px-8 md:mb-16 pt-16">
    <h2 class="text-4xl text-yellow-200 uppercase mb-12">{str.frontmatter.idea_header}</h2>

    <div class="md:grid grid-cols-8 mb-16">
        <div class="col-span-3 mb-12">
            <div class="text-3xl text-balance mb-5">{str.frontmatter.idea_1}</div>
        </div>
        <div class="col-span-4 col-start-5 text-balance"> 
            <p class="mb-3">{str.frontmatter.idea_2}</p>
            <p class="mb-3">{str.frontmatter.idea_3}</p>
            <p class="mb-3">{str.frontmatter.idea_4}</p>
        </div>
    </div>

    <div class="bg-[#131310] py-10 md:py-16 px-6 md:px-16 rounded-4xl text-center">
        <div class="mb-4">{str.frontmatter.dewiza}</div>
        <div class="text-xl sm:text-3xl md:text-3xl lg:text-2xl xl:text-3xl 2xl:text-4xl text-yellow-200 uppercase">
            <div set:html={str.frontmatter.no_sales_bull}></div>
        </div>
    </div>
</div>
