---
import { Image } from 'astro:assets';
import weaversLogo from '../assets/commerce-weavers-logo.svg';
import kwakLogo from '../assets/kwak-logo.svg';

const currentLang = Astro.url.pathname.split('/')[1] == 'en' ? 'en' : 'pl';
let str;
if (currentLang === 'en') {
    str = await import('../content/en/strings.md');
} else {
    str = await import('../content/pl/strings.md');
}
---

<div id="organizers" class="container mx-auto md:mt-16 mb-14 px-2 md:px-8 pt-16">
    <h2 class="text-4xl uppercase mb-12 text-center md:text-left">{str.frontmatter.organizers_header}</h2>
    <div class="grid lg:grid-cols-2 gap-4">
        <a href="https://www.linkedin.com/company/kwakduck" target="_blank" class="grid grid-cols-1 md:grid-cols-3 gap-8 rounded-4xl border-2 border-yellow-200 p-10 md:p-12 hover:outline-4 outline-yellow-200">
            <div class="col-span-1 flex flex-col md:gap-8 items-stretch">
                <Image class="m-auto" src={kwakLogo} alt="kwak duck" />
                <div class="diagonal-stripes grow"></div>
            </div>
            <div class="col-span-2 xl:py-12">
                <div set:html={str.frontmatter.organizers_kwaduck}></div>
            </div>
        </a>
        <a href="https://www.commerceweavers.com" target="_blank" class="grid grid-cols-1 md:grid-cols-3 gap-8 rounded-4xl border-2 border-yellow-200 p-10 md:p-12 hover:outline-4 outline-yellow-200">
            <div class="col-span-1 flex flex-col md:gap-8 items-stretch">
                <div class="diagonal-stripes grow"></div>
                <Image class="m-auto" src={weaversLogo} alt="commerce weavers" />
            </div>
            <div class="col-span-2 xl:py-12">
                <div set:html={str.frontmatter.organizers_weavers}></div>
            </div>
        </a>
    </div>
</div>
